body, html {
    height: 100%;
}

.med{
    background-image: asset-url('med2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
 }
